<div class="row my-5">
  <div class="col-md-12">
    <div class="row mt-5">
      <div class="col-md-12">
        <h1 class="title-notfound">
          La pagina solicitada no ha sido encontrada
        </h1>
      </div>
      <div class="col-md-12 mt-5">
        <div class="row contain-notfound">
          <div class="col-md-6">
            <img class="d-block img-fluid mx-auto" src="assets/img/404.png" alt="">
          </div>
          <div class="col-md-6">
            <p class="code">
              &#123; <br>
              &nbsp; <span class="property">status: </span> <span class="code-error">404</span>, <br>
              &nbsp; <span class="property">message: </span> <span class="message-error">"not found"</span> <br>
              &#125;
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-5">
        <h2 class="back">Para volver a la pagina de inicio click <a [routerLink]="['/']">Aquí</a>.</h2>
      </div>
    </div>
  </div>
</div>
