<div class="row">

  <div class="col-md-12 mt-3">
    <h2 class="px-5">Listado de episodios de rick y morty</h2>
    <mat-divider class="mt-2"></mat-divider>
  </div>

  <div class="col-md-8 my-5 mx-auto" *ngIf="!loading && episodes.length !== 0">
    <table mat-table [dataSource]="episodes">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="episode">
        <th mat-header-cell *matHeaderCellDef> Episodio </th>
        <td mat-cell *matCellDef="let element"> {{element.episode}} </td>
      </ng-container>

      <ng-container matColumnDef="air_date">
        <th mat-header-cell *matHeaderCellDef> Fecha al aire </th>
        <td mat-cell *matCellDef="let element"> {{element.air_date}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="openModalCharacters(element)" [matTooltip]="'Ver personajes del episodio ' + element.name" class="icon">groups</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="col-md-12 mx-5 mt-5" *ngIf="episodes.length === 0 && !loading">
    <div class="nodata">
      <div class="message">
        <mat-icon>error</mat-icon> No hay información para mostrar.
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="!loading && episodes.length !== 0">
    <app-pagination (changePage)="goToPage($event)" [totalPages]="totalPages" [currentPage]="page" [nextPage]="nextPage" [prevPage]="prevPage" ></app-pagination>
  </div>
  <div *ngIf="loading" class="loader-container">
    <div class="loader-table"></div>
  </div>
</div>
